[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
gql = "==0.4.*"
requests = "==2.*"
dds = {editable = true,path = "."}

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.7"

[scripts]
lint = "black ."
