[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "black queries mutations client.py"

[packages]
black = "*"

[dev-packages]

[requires]
python_version = "3.7"
