[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "black ."

[packages]
gql = "*"
requests = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.7"
